@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("");

@font-face {
  font-family: "miama";
  src: url(../assets/Miama.otf);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-balck: rgb(17, 17, 17);
  --primary-balck-secondary: rgba(33, 33, 33, 0.2);
  --white-color: #ffffff;
  --primary-orange: #e6533c;
  --background-white-primary: #ffffff;
  --background-white-secondary: rgba(255, 255, 255, 0.6);
  --background-white-third: rgba(255, 255, 255, 0.5);
  --background-white-fourth: rgba(255, 255, 255, 0.1);
}
/* Shared styles */

/* Style */
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Dancing Script", cursive; */
  font-size: 16px;
  line-height: 1.5;
  background: #000;
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* image is 100% of it's container */
img {
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 15px;
  /* padding: 50px; */
}
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 42px;
}

.bg-white-50 {
  color: var(--background-white-third);
}
.btn {
  width: 224px;
  height: 54px;
  background: var(--primary-orange);
  color: var(--background-white-primary);
  border: none;
  border-radius: 42px;
}
.btn-secondary {
  width: 224px;
  height: 54px;
  /* background: var(--primary-orange); */
  /* color: var(--background-white-primary); */
  border: 1px solid var(--background-white-primary);
  border-radius: 42px;
  background: none;
  color: #ffffff;
}

/**
* Header start here
**/
.header {
  /* border: 2px solid salmon; */
  min-height: 500px;
}

.header .navbar {
  border: 2px solid / darkblue;
  min-height: 46px;
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .left {
  min-height: 200px;
  /* min-width: 40%; */
  /* border: 2px solid green; */
}
.header .right {
  min-height: 200px;
  /* min-width: 50%; */
  /* border: 2px solid green; */
}

.header .nav-menu {
  border: 2px solid #ffffff15;
  display: flex;
  min-width: 430px;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  /* padding: 0 5px; */
  background: rgba(61, 61, 61, 0.143);
}

.nav-menu li {
  /* border: 2px solid salmon; */
  margin: 5px;
  width: 100px;
  padding: 5px;
}
.nav-menu li:first-child {
  background: var(--primary-orange);
  border-radius: 20px;
  text-align: center;
}

.header .bar-menu {
  display: none;
}

.active-home {
  /* height: 28px; */
  /* width: 72px; */
  /* background: var(--primary-orange); */
  /* border-radius: 46px; */
}

/* Hero section */
.hero {
  display: flex;
}

.hero-info {
  width: 600px;
  height: 440px;
  /* border: 2px solid red; */
  margin-top: 70px;
}
.hero-info .hero-title {
  font-size: 4rem;
  margin: 28px 0;
}

.hero-info p {
  margin-bottom: 28px;
}
.hero-info div {
  margin-top: 20px;
}
/* .hero-info span {
  font-size: 5.5rem;
  
} */
.hero-info .shape {
  font-family: 7.5rem;
  font-family: miama;
}

/**
* Header end here
**/

/* habit Change Section */
.habit-change-content {
  /* border: 2px solid brown; */
  min-height: 450px;
}

.habit-change-content {
  display: flex;
  gap: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.change-babit-title h2 {
  font-size: 3rem;
}

.habit-change-content p {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.3);
}

/* Grid test */
.change-habit-image {
  max-height: 274px;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.box img {
  width: 160px;
  height: 160px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 25px 25px;
}
.box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.box p {
  text-align: center;
}

/* end change-habit section */

/* Start run extra Mile */
.extra-mile {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  /* border: 2px solid salmon; */
  border-radius: 18px;
}

.extra-mile-content {
  /* border: 2px solid brown; */
  width: 443px;
  height: 300px;
  margin: 40px 50px;
}
.extra-mile-content h2 {
  font-size: 3.3rem;
  margin-bottom: 14px;
}
.extra-mile-content p {
  font-size: 0.7rem;
  margin-bottom: 34px;
}

.extra-mile-image {
  background-image: url(../images/run.jpg);
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 366px;
  height: 312px;
  margin: 32px;
}
.extra-mile {
  display: flex;
}

.extra-mile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extra-mile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End run extra Mile */

/* Text Color */
.text-primary {
  color: var(--primary-orange);
  font-style: italic;
}
.text-secondary {
  color: var(--white-color);
}

/* Text size */
.text-xxl {
  font-size: 5.4rem;
  line-height: 120%;
  font-weight: bold;
  margin: 0px 0 20px;
}

.text-xl {
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 100;
  margin: 0px 0 20px;
}
.text-l {
  font-size: 1.125rem;
  /* margin: 0px 0 20px; */
}
.text-s {
  font-size: 0.7rem;
}

.text-center {
  text-align: center;
}

/* Background Color */
.bg-gradient-primary {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.051), rgba(0, 0, 0, 0.314), rgba(255, 255, 255, 0.081));
}

/* exercise-training starts */
.exercise-training {
  /* border: 2px solid salmon; */
  min-height: 500px;
}
.grid-image-container {
  /* border: 2px solid salmon; */
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, 1fr); */
}
.exercise-training-title {
  font-size: 3rem;
}

.exercise-training p {
  margin-bottom: 58px;
}

.grid-image-container img {
  width: 100%;
  height: auto;
}

.grid-image-container .item1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;

  min-height: 100%;
  background: linear-gradient(0deg, rgba(6, 255, 209, 0.5), rgba(6, 255, 209, 0.5)), url(../images/exercise1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 20px;
}
.grid-image-container .item2 {
  grid-column: 4 / span 6;
  grid-row: 1 / span 5;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  font-size: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}
.grid-image-container .item3 {
  grid-column: 10 / span 3;
  grid-row: 1 / span 5;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.504)), url(../images/exercise3.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  /* padding: 20px; */
}
.grid-image-container .item4 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 6;
  min-height: 100%;
  font-size: 0.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.504)), url(../images/exercise4.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.grid-image-container .item5 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 6;
  min-height: 100%;
  font-size: 0.5rem;
  background: linear-gradient(0deg, rgba(68, 255, 0, 0.3), rgba(68, 255, 0, 0.3)), url(../images/exercise5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.grid-image-container .item6 {
  grid-column: 9 / span 4;
  grid-row: 6 / span 6;
  min-height: 100%;
  font-size: 0.5rem;
  background: linear-gradient(0deg, rgba(0, 72, 255, 0.305), rgba(0, 72, 255, 0.305)), url(../images/exercise6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

/* BMI Calculator */
.bmi-section {
  background: rgba(255, 255, 255, 0.1);
  margin: 88px 0;
}

.bmi-calculator-section {
  height: 487px;
}

.bmi-calculator-context {
  height: 120px;
  text-align: left;
  margin: 50px 200px;
}

.bmi-calculator {
  padding: 40px 0;
  /* border: 2px solid rebeccapurple; */
  height: 386px;
  display: flex;
  gap: 20px;
}
.bmi-calculator-chart {
  /* border: 2px solid #e6533c; */
  /* height: 487px; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculate-your-bmi {
  /* border: 2px solid red; */
  /* height: 487px; */
  width: 50%;
}
.calculate-your-bmi .btn {
  margin-top: 34px;
}

/* table */
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  /* background-color: rgb(228 240 245); */
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

/* tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
} */

/* tfoot th {
  text-align: right;
} */

/* Bmi Chart title */
.bmi-chart-title {
  font-size: 1.75rem;
  margin: 52px 0;
}

/* BMI Input content */
.bmi-input-content {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

/*  */
.form-field {
  width: 48%;
  height: 48px;
}
.form-field input {
  width: 100%;
  height: 48px;
}
.select-field {
  width: 100%;
  height: 48px;
}

.calculate-title {
  margin-bottom: 14px;
}
.calculate-para {
  margin-bottom: 34px;
}

.form-field input[type="text"] {
  font-size: 1rem;
  border: none;
}

/* Meet Our Team */
.meet-our-team {
  /* border: 2px solid sandybrown; */
  /* height: 682px; */
  /* margin: 50px 0; */
  margin-bottom: 50px;
}

.meet-team-content {
  height: 120px;
  width: 564px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}
.meet-our-team-profile {
  height: 500px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 10px;
  row-gap: 5px;
  background: var(--background-white-fourth);
  padding: 10px;
  border-radius: 20px;
}
.meet-team-content p {
  color: var(--background-white-third);
  font-size: 0.8rem;
}

.profile-1 {
  background: #e6533c;
  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
  background-image: url(../images/trainer1.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.profile-2 {
  /* background: #83dcf4; */
  grid-column: 5 / span 4;
  grid-row: 1 / span 6;
  background-image: url(../images/trainer2.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.profile-3 {
  /* background: #ecf483; */
  grid-column: 9 / span 4;
  grid-row: 1 / span 6;
  background-image: url(../images/trainer3.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.profile-4 {
  /* background: #ecf483; */
  grid-column: 1 / span 4;
  grid-row: 7 / span 6;
  background-image: url(../images/trainer4.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.profile-5 {
  /* background: #d883f4; */
  grid-column: 5 / span 4;
  grid-row: 7 / span 6;
  background-image: url(../images/trainer5.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.profile-6 {
  /* background: #0f9b8f; */
  grid-column: 9 / span 4;
  grid-row: 7 / span 6;
  background-image: url(../images/trainer6.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 15px;
}
.image-resize {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}
.image-resize span {
  font-size: 0.8rem;
  color: var(--background-white-third);
}

.meet-our-team-profile img {
  border-radius: 18px;
}

/* Footer Section */
.footer {
  background: rgba(255, 255, 255, 0.1);
}

.footer-section {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin: 35px;
}
.fitness {
  height: 176px;
  width: 50%;
  /* border: 2px solid salmon; */
  margin-right: 100px;
}

.fitness h2 {
  color: var(--primary-orange);
  font-weight: bold;
  font-size: 3.375rem;
  font-style: italic;
}

.fitness-text {
  /* border: 2px solid rgb(189, 250, 114); */
  width: 50%;
  display: flex;
  gap: 100px;
}

/* Footer copy */
.footer-copy {
  text-align: center;
  margin: 25px 0;
}
