/* 1. Small device: upto 576px */
/* 2. Medium device: 576px to 992px */
/* 3. Large Device: above 993px */

/* max-width: 900px ---> Apply Css Rule under 900px */

/* @media screen and (min-width: 993px) {
} */
@media screen and (max-width: 992px) {
  /* body {
    display: none;
  } */
}
@media screen and (max-width: 576px) {
  .header .nav-menu {
    display: none;
  }
  .header .bar-menu {
    display: inline-block;
  }
}
